<plugin id="admob-native-java-help" version="1.0.14" xmlns="http://apache.org/cordova/ns/plugins/1.0">
  <name>admob-native-java-help</name>
  <description>Cordova plugin to add native AdMob blocks to MainActivity.java</description>

  <preference name="AD_TYPE" default="banner" />
  <preference name="AD_POSITION" default="bottom" />
  <preference name="BANNER_AD_UNIT_ID" default="ca-app-pub-3940256099942544/6300978111" />
  <preference name="INTERSTITIAL_AD_UNIT_ID" default="ca-app-pub-3940256099942544/1033173712" />
  <preference name="APP_ID" default="ca-app-pub-3940256099942544~3347511713" />

  <platform name="android">
    <hook type="before_plugin_install" src="scripts/pre_install.js" />
    <hook type="after_plugin_install" src="scripts/after_install.js" />
    
    <framework src="com.google.android.gms:play-services-ads:22.6.0" />
  </platform>
</plugin>
